[2021-05-13 06:06] ngockhanh5110 opened #1 "<class 'argparse.FileType'> is a FileType class object, instance of it must be passed"
I had this issue while running the very first command
` clearml-serving triton --project "serving" --name "serving example"`

` <class 'argparse.FileType'> is a FileType class object, instance of it must be passed`

[2021-05-13 22:41] bmartinn commented on #1
Hi @ngockhanh5110
I think the issue was solved with the `0.3.2` release.
[code]
Could you verify ?

[2021-05-14 01:08] ngockhanh5110 commented on #1
Hi there,

The issue is preserved even when I upgraded to version 0.3.2

@bmartinn

[2021-05-14 02:08] bmartinn commented on #1
What's the python version? and OS version ?
Could you try to run with --debug and send the full log ?
[code]

[2021-06-03 09:59] ecm200 commented on #1
I can also confirm that I get the following error as well on PYPI version 0.3.2.

I have just installed the master branch at commit **9254079** and it works perfectly.

[2021-06-08 11:28] okyspace opened #2 "Set Triton version"
Hi, currently when I use clearml serving, when deploying serving triton service, it is always version 21.03. Is there a way that I can config or set to 21.05? I need some feature from 21.05.

[2021-06-08 15:48] ecm200 opened #3 "Triton inference server docker container deployment fails due to ports conflict"
I've been following the example on Keras, but using a PyTorch model.
I have setup a serving instance with the following command:

` clearml-serving triton --project "Caltech Birds/Deployment" --name "ResNet34 Serving"`

I then added the model endpoint and the model ID of the model to be served:

`clearml-serving triton --endpoint "resent34_cub200" --model-id "57ed24c1011346d292ecc9e797ccb47e"`

Th

[2021-06-08 20:52] okyspace opened #4 "Triton Engine did not auto update to new model after retraining"
I saw this line in the readme:
"Notice: If we re-run our keras training example and publish a new model in the repository, the engine will automatically update to the new model."

I have a created a serving service. However, when i retrain my model with same project and task name, and publish the model once training is done, the model version deployed in triton is not updated.

May I know if this

[2021-06-09 09:16] jkhenning commented on #2
Hi @okyspace,

That's a good point - we'll add this option 🙂

[2021-06-09 09:16] jkhenning commented on #3
Hi @ecm200,

We'll make sure this is configurable 🙂

[2021-06-09 09:19] ecm200 commented on #3
Just having a play with the various docker arguments to do with the ports to see what happens.

[2021-06-09 09:25] okyspace commented on #2
@jkhenning May I add on. While allowing user to define triton version, perhaps you can somehow accept args to set triton e.g. version, control mode, polling intervals, log-verbose, port numbers, etc.. so that it become more flexible for users.
Hope this is useful to improve the service.

[2021-06-09 09:42] jkhenning commented on #2
I agree :) - We'll post suggested configuration options here soon and make sure they fit your purpose.

[2021-06-09 11:44] ecm200 commented on #3
A few confusing issues to report here.

### Potential Triton Container Ports Issue Fix
Firstly, I changed the docker string argument in the `Task.create()` call of the `launch_engine()` method of the `ServingService` Class, such that only `--ipc=host` is passed.

The original string argument was as follows:

`docker="nvcr.io/nvidia/tritonserver:21.03-py3 --ipc=host -p 8000:8000 -p 8001:8001 -p 800

[2021-06-09 14:49] ecm200 commented on #3
@jkhenning

I think I might be close to getting to the bottom of this issue with the model not being downloaded.
In the `triton_model_service_update_step` method of the `ServingService` Class, the method attempts to get a locally cached copy of the model for use with the serving engine. The try except block attempts to do this, however it fails on the `get_local_copy()` method of the `InputModel`

[2021-06-09 14:53] ecm200 commented on #3
You probably know this, but I have forked the clearml-serving repo here, so you can easily see my changes in their entirety.

https://github.com/ecm200/clearml-serving

[2021-06-10 01:13] okyspace commented on #4
Apologies, my mistake. My serving service was not handled by an agent.

[2021-06-10 01:13] #4 closed

[2021-06-10 18:14] ecm200 commented on #3
Model weights download from the Azure Blob Store was found to be due to an incorrectly formatted `clearml.conf` file, which resulted in a non-standard structured dictionary on read in. Regeneration of the file and editing custom options as before resulted in successful connection to the Azure Blob Store and download of the model.

[2021-06-10 18:18] ecm200 commented on #3
Issue with the local copying of models was found in the `triton_model_service_update_step` method of the `ServingService` class.

The copying of the cached model to the directory structure setup for the Triton Inference Server results in the weights file inheriting the name from the cached model, instead of the expected `model.pth` file that the Triton server is trying to load.

A [temporary fix w

[2021-06-10 22:47] bmartinn commented on #1
I forgot to update here, v0.3.3 is out with a fix

[code]

[2021-06-10 22:48] bmartinn commented on #3
Hi @ecm200
Based on the log

I have a feeling this has something to do with:
https://github.com/pytorch/pytorch/issues/47917

wdyt?

[2021-06-11 08:04] ecm200 commented on #1
@bmartinn It fixed the issue for me, so I'd say the issue is closed for me, thanks!

[2021-06-11 08:39] ecm200 commented on #3
@bmartinn I am going to close this issue, as the original issue with ports and getting the Triton container running was solved with my previous comments on the modification of the `Task.create()` call to run the `Triton Serving Engine` task.

I think this PyTorch model loading issue is a separate one.

[2021-06-11 08:41] ecm200 opened #5 "Triton inference server fails to load checkpointed PyTorch Ignite model"
The Triton server is now able to find the local copy of the model weight pt file and attempts to serve it, following fixes in #3.

The following error occurs when the model is served by the Triton Inference server:

[code]

_Originally posted by @ecm200 in https://github.com/allegroai/clearml-serving/issues/3#issuecomment-858868722_

[2021-06-11 08:42] ecm200 commented on #5
@bmartinn in #3 makes reference to an issue raised with PyTorch, which looks like it might be the potential source of the issue.

pytorch/pytorch#47917

[2021-06-11 08:45] ecm200 commented on #3
@bmartinn on second thoughts, we might want to leave this open until the fixes have been applied to the main repo.
I was getting carried away as they are working in my fork!

Happy to fork the repo again, and make the specific changes and file a PR.

[2021-06-11 09:32] ecm200 commented on #3
### Found reason for ports conflict

For the compute nodes, I have been using my standard data science linux image, which comes with CUDA and JupyterHub pre-installed and running as a service.

Jupyterhub accepts incoming requests on port 8000 and would appear to listening on port 8001 as well.
Prior to terminating the service, I did a `sudo lsof -i -P -n` command, and can clearly see the ports be

[2021-06-11 09:36] ecm200 commented on #3
This therefore means that the original issue of ports is not a clearml-serving issue, and this modification to the Task.create() call to create the Triton Serving Engine service is not needed.

I have rerun the Triton Inference container with `--ipc=host` in addition to the port mappings, and this seems to be behaving, so the [original call on line 203](https://github.com/allegroai/clearml-serving

[2021-06-11 15:09] ecm200 commented on #5
## Solution found to Triton Inference Server PyTorch problem

The issue here was the way the model was being saved.

The input for the Triton Inference server is a PyTorch model that as been saved using the TorchScript export utility. I had been using a checkpointed file saved by PyTorch Ignite checkpointer, which was just a set of weights of that could be loaded into a model.

### Creating a Trac

[2021-06-11 16:17] ecm200 commented on #5
What is the best way to add the Torchscript model to the experiment?

Would it be through the use of the `OutputModel` class?
What combination of calls would be best to use to upload the model?
Is it ok to have more than 1 output model associated with an experiment? [I think it is, but I just wanted to be sure].

I am thinking at the moment, the Ignite ClearMLSaver() function handles the saving of

[2021-06-11 23:51] bmartinn commented on #3
Hi @ecm200
This all makes total sense.
Following the suggestion here ( #2 ), I think we should add both Triton container image argument, as well as container execution args and Triton server args. These should enable you to fully control the remote container setup.

[2021-06-11 23:54] bmartinn commented on #2
Just updating here the full feature request:
Allow controlling the following from `clearml-serving` CLI
- Container image
- Container execution arguments
- Triton engine command line arguments

[2021-06-12 00:06] bmartinn commented on #5
Hmm, I think a straight forward solution would be to convert the model.pt at the end of the training process, then use OutputModel to store it.
[code]

It is fully supported. Notice that with `clearml-server` v1.0+ this is also visible on the Task Artifact and Models tab as well as inside the model repository.

If `Task.init` was called with `output_uri` (or `default_output_uri` configured in `cle

[2021-06-12 09:48] ecm200 commented on #3
I concur, I think if you can make the Triton server configuration accessible for people that want to customize, but then have a set of reasonably intelligent and flexible defaults, for example like catching the requirement for cloud provider SDKs for remote storage access of models, that means the server can run out-of-box, then you will get the best of both worlds.

[2021-06-12 09:53] ecm200 commented on #3
One thing to note with the config.pbtxt.
My original file had this format:

[code]

However, I had some issues with the Triton server accepting this when serving it images over HTTP.
I ended up modifying the configuration to the following, most notably the input and output NAME fields appeared to be non-descript relative to the model and just needed to be specified as this, and the dims fields wer

[2021-06-12 20:26] bmartinn commented on #3
Yep that's the plan :)

I "think" this has to match the layer name as stored inside the `model.pt`, this is how you tell Triton where it should push the input matrix or retrieve the results. Regrading the additional dimension, this is for the Triton batching support.
BTW it could it be the TorchScript changed the naming when it compiled the original model?

[2021-06-14 14:18] ecm200 commented on #5
This function created a Torchscript version of my image classification model, added a model artefact to the experiment and created a new model object on the `clearml-server`, and uploaded the file to the experiment directory on the remote storage service.

This Torchscript model could then be used following the Triton serving example for `clearml-serving` , to be able to deploy and serve that mode

[2021-06-14 15:09] ecm200 opened #6 "Triton cannot find downloaded model"
Following commit b5f5d72 , the fixes regarding the container arguments and the cloud service python SDK's were resolved, howeve the Triton server still cannot find the downloaded model from Azure Blob Store locally.

This is because the name of the file is inherited from the Azure filename, rather than the expected "model.pt" that Triton is looking for. The model is placed in the correct folder st

[2021-06-14 22:20] bmartinn commented on #6
Interesting point, from [here](https://github.com/triton-inference-server/server/blob/main/docs/model_repository.md) it looks as if this is somewhat "hardcoded" into Triton.
I'm thinking maybe we should auto-rename the model-file based on the backend (which should be in the `config.pbtxt`under `platform`).
wdyt?

[2021-06-14 22:25] #1 closed

[2021-06-15 08:56] ecm200 commented on #6
### Triton server configuration file and model file names

[Triton documentation](https://github.com/triton-inference-server/server/blob/r21.05/docs/model_repository.md#repository-layout) says that the model repository must take the following format:

[code]

For [Torchscript models specifically](https://github.com/triton-inference-server/server/blob/r21.05/docs/model_repository.md#torchscript-mod

[2021-06-17 16:11] okyspace commented on #2
@bmartinn Thanks for the add on. May I ask how to use these flags? They are not updated in the readme.
Attempted this but got error of unrecognised flag.
`clearml-serving triton --project "serving" --name "serving example--update-frequency 0.2"`

[2021-06-17 17:31] okyspace commented on #6
I seems to have the same problem. Triton cannot find any models.
Tried @ecm200, but doesn't seems to work too.

![image](https://user-images.githubusercontent.com/55354225/122446020-c7616f80-cfd4-11eb-9058-3753e69728c1.png)

[2021-06-17 23:09] bmartinn commented on #6
First we will make sure we automatically configure/rename the models files (I will leave this Issue open until we do).
This should fix the issue in the next `clearml-serving` version

In the mean time, based on @ecm200 previous comment,  @okyspace you can specify in to your `config.pbtxt` the model file name for Triton to use (based on what you have in the ClearML model repository):
[code]

[2021-06-19 01:33] okyspace opened #7 "Managing published versions"
Currently once published, the model status remains as "published" and Triton will only use the latest "published" model and unload the previous version.

But this unloading of model did not align with the "published" state and can be confusing.
May I suggest to expand the function with unpublish so we can explicitly unload model versions in Triton.
This will also allow multiple versions (published

[2021-06-20 22:34] bmartinn commented on #7
Hi @okyspace

First of all, this is a good point! Unfortunately "published" is more that just a "tag" on the model, it actually changes the sate of the model, the state of the creating experiment (and might also including a few more derivative changes). Basically this is a system-wide state that makes sure the "published" model could be reproduced (as much as `clearml` can do).  All that said, arc

[2021-06-20 22:42] bmartinn commented on #2
Hi @okyspace
My apologies, we are working on the documentation of this new module, I'm hoping the full docs will be released very soon :)
In the mean time `clearml-serving --help` and `clearml-serving triton --help` 😄

What exactly is the error you are getting ?
(btw: `--update-frequency` is not a valid command line option, is this a typo ?)

[2021-06-21 13:00] okyspace commented on #7
@bmartinn, I realised --versions only manage how many versions of the models (draft + published) that will be copied over to triton. It does not handle the avail versions for inference.

Archiving a published model did not help to "unpublished" it. It merely hide it from the list. That's what I have tested. Is my observation correct? What i need is to unpublished it and removed from the avail vers

[2021-06-21 13:01] okyspace commented on #2
I was trying to pass in --repository-poll-sec to triton using --engine-container-args "--repository-poll-sec 10". but this is not working. May i know how to do it?

[2021-06-21 13:04] okyspace opened #8 "Behavior of published model"
Apologies that I may not have understood well as there are limited documentation.

From the read me:
"Notice: If we re-run our keras training example and publish a new model in the repository, the engine will automatically update to the new model."

I tested, when i first run my training but did not publish. When i start triton, this version is still avail in triton for inference. Is this correct?

[2021-06-21 23:06] bmartinn commented on #2
@okyspace you are right, I missed it, let me see if we can add the triton arguments ;)

[2021-06-21 23:17] bmartinn commented on #8
Hi @okyspace

You absolutely correct, [here](https://github.com/allegroai/clearml-serving/blob/b5f5d72046f878bd09505606ca1147d93a5df069/clearml_serving/serving_service.py#L334) should be `only_published=True`
Let me make sure we fix that (or at least add a flag to control it)

How did you register the endpoint, with project/mode-name ? Any chance you can attach a log?

[2021-06-22 00:37] okyspace commented on #8
Hi @bmartinn

This is how I create my serving service and then register an endpoint.

[code]
Any idea where should I capture the useful logs? The triton logs basically shows this:

[2021-06-25 22:42] bmartinn commented on #8
What do you mean by that? Are you referring to the config.pbtxt ?

I think I was able to confirm it. Can you test if the following works for you:
[code]
Then manually add the tag "deploy_me" to the selected models
(basically it should only get models with the selected project/name and the specified tag)

[2021-06-25 22:46] bmartinn commented on #7
@okyspace archiving the model did not "remove" it from the serving ? Did you have a previous version it should have reverted to?
How do I reproduce it ?

[2021-08-03 10:11] suparnaj3 opened #11 "Serving Scikit-Learn models"
Are there any options to serve a Scikit-Learn model?

[2021-08-04 10:33] bmartinn commented on #11
Hi @suparnaj3

The serving engine itself (e.g. Triton) is the module that needs to actually support serving scikit-learn models.
From `clearml-serving` perspective, the models will be downloaded (from the model repository) and will be locally available for the engine to server, but the actual serving is done via the engine itself.
One option to add this ability is to use the Triton generic python

[2021-08-13 03:41] okyspace opened #12 "Add on for README"
Hello, after some issues raised, there are codes add on to define triton engine args (e.g. ports, triton version) but the usage of these are not updated to README nor the --help yet.

Also it is not very clear the purpose of certain args like project name, name even after reading the --help.
Perhaps these can be updated in the README, so easier to use it.

This is also related to my failed attempt

[2021-08-13 22:44] bmartinn commented on #12
Hi @okyspace

I'll try to shed some light on the mechanics of `clearml-serving` (If this is successful we could make it into a proper doc :)

Basically we have two Tasks, the first is the control-plane Task, it stores the configuration on the serving engine, the models that needs to be server etc.
Task (1) will be checking for new models published in the clearml Model Repository, and updating the

[2021-08-13 23:23] okyspace commented on #12
@bmartinn, thanks for the clarification. These are probably missing, which I didn't manage to find them in README nor --help.

1. usage of --engine-container, --engine-container-args to define your own triton settings. (e.g. ports, version, polling rate) which was added on in v0.3.3 if not wrong.
2. A way to config to use own ClearML server and Triton, which I understand it might not be working as

[2021-08-15 22:52] bmartinn commented on #12
Following on the previous example, Task (2) (running the Triton engine) is executed by the `clearml-agent` specifically it will use the default Triton engine container `nvcr.io/nvidia/tritonserver:21.03-py3` , then inside he container it will launch the sidecar process, that will in turn launch the engine monitor it. To allow the user to upgrade to latest Triton engines or custom container, we add

[2021-09-03 11:48] suparnaj3 commented on #11
I tried with the Python backend.

I am updating the output model with a folder containing sickit-learn model and model.py.

But, in the model, the framework is getting updated as Tensorflow. Due to that, these files are not getting added to /models folder. So the triton server is failing.

How can I solve this issue?

[2021-09-05 23:22] bmartinn commented on #11
Hi @suparnaj3
What is the content of the model package ?
Any chance you have a toy code to reproduce the issue ?

[2021-09-06 03:06] suparnaj3 commented on #11
When you are uploading the model as a package, Clearml serving assumes it as Tensorflow model and copy model.savedmodel file only. I think this is the issue.

[2021-09-06 05:55] suparnaj3 commented on #11
@bmartinn, As I need to serve the Scikit-Learn model using the python backend, I am packaging both model.py and Scikit-Learn model in a folder.

When we are uploading the model as a package, Clearml serving assumes that as a TensorFlow model. So, it's getting copied to model.savedmodel. I think this is the issue.

[2021-09-09 16:42] bmartinn commented on #11
Hmm @suparnaj3 that makes a lot of sense, I can see the issue [here](https://github.com/allegroai/clearml-serving/blob/b5f5d72046f878bd09505606ca1147d93a5df069/clearml_serving/serving_service.py#L552)
On the `Model` itself there is a framework field, optional values listed [here](https://github.com/allegroai/clearml/blob/c85c05ef6aaca4e07e739ba53d13f16e6a994b05/clearml/model.py#L31)
What do you ha

[2021-09-12 00:10] okyspace commented on #12
@bmartinn, thanks for the explanation.
Apologies for taking awhile to work on this, as was busy with other stuffs.

I tested --engine-container and it works.
But for --engine-container-args '-p 9000:8000 -p 8001:8001 -p 8002:8002 --model-control-mode poll --repository-poll-secs 5', there are errors stating that `unknown flag: --model-control-mode`.

This is the standard flag for triton, so I could

[2021-09-12 08:37] okyspace opened #13 "Support for already Running Triton"
I have triton deployed in k8s. Am I able to link my serving service to this instance of triton?

[2021-09-13 22:13] bmartinn commented on #13
Hi @okyspace

Before I outline the solution, let me add  some background on how clearml-serving works.
Basically you will have two Tasks (jobs), one is the clearml-serving Task, this Task acts a control-plane for the Triton engine,
it stores the state of the current models to be deployed, endpoint versions etc, it will also store the serving statistics for all the serving engine instances.
Then yo

[2021-09-13 22:29] bmartinn commented on #12
Hi @okyspace
I think the `"  --model-control-mode poll --repository-poll-secs 5"` are parameters that need to be passed  to the triton process, not the container launch command itself (of example the `"-p 9000:8000 -p 8001:8001 -p 8002:8002"` are port mapping arguments passed to the docker runtime when spinning the container)

If you want to change the Triton process arguments, first find for the

[2021-09-14 00:20] okyspace commented on #13
Hi @bmartinn, both did not serve my purpose. The suggestions mean we using a k8s pod to run the clearml agent to execute the Task and the Triton will be running in the pod as a container. This did not achieve the goal of having Triton deployed as a k8s deployment.

I already have the triton up and running in a k8s cluster. So what I really need is to create a serving service and link it to this in

[2021-09-14 00:24] okyspace commented on #12
Yes, I think it might be beneficial to allow developer to have more detailed control of the serving engine.

[2021-09-14 00:45] bmartinn commented on #12
Sounds good to me, let's add them :)

[2021-09-14 00:54] bmartinn commented on #13
Hi @okyspace
So I "think" what is needed is the triton helper running inside the Triton container and configuring it (you can also run in a container next to the Triton pod, as long as it can access a shared NFS mount & http to the Triton Pod it should work).

You can find the clearml triton container control code [here](https://github.com/allegroai/clearml-serving/blob/main/clearml_serving/triton

[2021-10-30 02:21] janesenaj opened #14 "Triton docker container failed to start due to unknown error"
The inference task was successfully created after launching the serving services (`clearml-serving launch --queue default`).

However, it seems that the nvdia container failed to start with the following error:
[code]

Using a local worker without GPU attached to the public hosting clearml server.

[2021-11-01 08:55] jkhenning commented on #14
Hi @janesenaj,

From a quick look online, it seems this error is related to the NVIDIA driver you have installed - can you try to upgrade to a newer driver?

[2021-11-03 03:31] NurrahmiM opened #15 "Error triton helper file"
Hello,
 I'm trying clearml serving with nvidia triton. I'm having trouble with the above error which is _FileNotFoundError: [WinError 2] The system cannot find the file specified_. Can someone help me?
![error triton helper](https://user-images.githubusercontent.com/80824031/140006355-1f9f75c5-968d-4a6e-8cda-9855395cb9b6.png)

[2021-11-03 07:18] jkhenning commented on #15
Hi @NurrahmiM,

It looks like the `tritonserver` command cannot be found in the path. The code assumes this command is available - you'll need to make sure this command is in the system path.

[2021-11-15 21:41] bmartinn commented on #13
Hi @okyspace

    Was thinking if we could define the ID, I could create a config file with this ID, and use by both serving service and triton, so I won't need to spin off this serving service first (to get the ID) before configuring it in TritonHelper. In this way, my Triton can start up independently from serving service.

Actually we are thinking of revising the interface, basically allowing y

[2021-11-18 00:56] okyspace commented on #13
If I get you correctly, what you are suggesting is to have this proxy class "sitting" in between Serving Service and Serving engine.
Service Service will be running in ClearML, while Serving engine can be hosted anywhere.
- So once this serving engine starts up, it could instantiate the proxy class to communicate with serving service, doing what it needs. e.g. retrieving list of model published by

[2021-11-20 23:56] bmartinn commented on #13
well in theory yes, in practice the proxy class is acing as an actual http request proxy, which means it needs to be able to directly forward the request to the actual Serving Engine

Exactly

In this way, you decouple the serving service logics from interfacing logics to serving engine. And allow you to better scale with more serving engine in future?

Yes that's the idea. Though I think the main

[2021-11-21 15:37] okyspace commented on #13
@bmartinn this is certainly very useful. Any target date to release this that you looking at?

[2021-11-22 09:53] NurrahmiM commented on #15
thank you for answering the question 😆
now i got an error like the picture i attached with error _WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behavior with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv_
and then after show warning status process still running, but after I wait 15 mi

[2021-11-25 07:01] okyspace commented on #13
@bmartinn I am looking at integrating clearml and triton. So this is of interest to me.
Attempted to draw out what I had understood from you and my thoughts in terms of how the codes can be restructured to allow adding more engine types, and also less coupling of serving service and engine.
Hope to hear if this aligns with what you planned.

![image](https://user-images.githubusercontent.com/55354

[2021-11-25 23:08] bmartinn commented on #13
Hey @okyspace  this looks great!
Let me see if I understand:
`ServingService` is running as a "service" (i.e. it is low on CPU and does not need to run next to the actual serving engine)
`TritonProxy` is running On the same pod/container as the Triton serving engine, making sure the Triton engine is configured according to the state of the `ServingService`. It also collects statistics from Triton

[2021-11-25 23:33] bmartinn commented on #15
Hi @NurrahmiM

This is actually quite okay, it just means that you are running inside the container as root, which is kind of the standard.

Can you provide the full log (press on the "download full log" button and attach here) ?
Also can you provide the CLI command you used to spin the `clearml-serving` with?

[2021-11-26 01:56] okyspace commented on #13
Hi @bmartinn, thanks for looking through the diagram. I did not reinvent the wheel, rather was trying to build on from the good work from ClearML team.

TritonProxy is running On the same pod/container as the Triton serving engine, making sure the Triton engine is configured according to the state of the ServingService. It also collects statistics from Triton engine.

Yes, that's right.

Sounds li

[2021-11-27 23:40] bmartinn commented on #13
This is a good point for "online update" , that will not be supported by my suggested solution (though on the upside probably easier for users to implement and test)

...
I am also open to help out (if I could) during my free time too, do let me know ya!

This sounds great, I will be more than happy to help work on a fork and then PR it.
If you are willing to start I'm ready to help, this is very

[2021-12-21 10:38] NurrahmiM commented on #15
hi @bmartinn ,

Also can you provide the CLI command you used to spin the clearml-serving with?

Yesterday I got the above error from docker, when I retrained in the community app there was no warning like what I experienced in the docker clearml. Why did it happen?

And I also want to ask, can this clearml serving also work for the scikit learn model? if possible, how do i create a config.pbtxt f

[2022-01-29 19:15] bmartinn opened #17 "ClearML serving design v2"
### ClearML serving design document v2.0
**Goal: Create a simple interface to serve multiple models with scalable serving engines on top of Kubernetes**

Design Diagram (edit [here](https://excalidraw.com/#json=YnP_tJVH0q5wZ8kd0ruFZ,zJOO7eW81F9H3pCXO3noNw))
![Untitled-2022-01-28](https://user-images.githubusercontent.com/51887611/151674402-3c19f2e1-bdce-4933-a5b6-ce35797d167e.svg)

**Features**
-

[2022-02-05 08:01] okyspace commented on #17
@bmartinn nice works.

1. Can I ask any timeline to roll out this progressively / any branches that I can access while it is built?

2. From the description, it seems like the design is for inference requests to go through clearml-serving too, thus you added deployment strategies and preprocessing in clearml-serving. What's the thinking for inference requests to go through clearml-serving? Are you

[2022-02-08 00:05] bmartinn commented on #17
1.
I'm hoping that late next week I will be able to push a new dev branch with new code to play around with

2.

Good point on latency, and obviously this is by choice. The feedback we received, and feel free to add some more, is that pre/post python callbacks are really necessary for a lot of use cases. We opted for this design as it allows users to very easily add pre/post python functions and s

[2022-02-08 00:05] bmartinn commented on #17
Expanding the original [post](https://github.com/allegroai/clearml-serving/issues/17#issue-1118303596)
Suggested CLI:
[code]

[2022-02-09 10:19] okyspace commented on #17
@bmartinn here's the work I am doing which focuses on the "clearml-sidecar". https://github.com/okyspace/clearml-serving/tree/triton_proxy/clearml_serving
Not sure if it makes sense to you.

[2022-03-07 23:09] bmartinn commented on #17
@okyspace Quick update, things are finally wrapping up, here is the latest branch:
https://github.com/allegroai/clearml-serving/tree/dev

Next main step is getting the statistics merged as well :)

[2022-03-07 23:12] bmartinn commented on #6
@ecm200 quick update, v2 is getting close to the finish line, already including torchscript example:
https://github.com/allegroai/clearml-serving/tree/dev/examples/pytorch

[2022-04-07 07:03] calvinshalim opened #19 "Take model from clearml server via API"
is there any way that I can take the model from clearml server to my machine through API so I can run it locally without download it? thank you

[2022-04-07 19:44] jkhenning commented on #19
Hi @calvinshalim ,

I assume you have the model ID? The ClearML Server contains the link to the model file (but not the model itself). Where do you store the model? Is it in the ClearML fileserver?

[2022-04-08 02:37] calvinshalim commented on #19
hi @jkhenning ,

thank you for the reply. yes I have the model ID and it is stored in the clearml fileserver. is there a way to get the model itself through API? thank you

[2022-04-09 11:35] jkhenning commented on #19
Well, you can use the ClearML SDK and do something like:
[code]

[2022-04-12 06:55] calvinshalim commented on #19
@jkhenning
but get_local_copy() is only to get the link to the model file right? What I want is a way to get the model itself through the model ID and implement it in my project like for example in a notebook. is it possible? thank you

[2022-04-12 07:09] jkhenning commented on #19
`get_local_copy()` downloads the model weights file locally and returns the local path where it is stored - I thought that's what you were looking for 🙂

[2022-04-12 08:51] jkhenning commented on #19
If you modified the model locally, you can update the weights file using the SDK as well

[2022-04-12 09:13] #19 closed

[2022-05-16 11:41] takumi5757 opened #22 "Request for unknown model: 'test_model_pytorch' version 1 is not at ready state"
[https://github.com/allegroai/clearml-serving/tree/main/examples/pytorch](https://github.com/allegroai/clearml-serving/tree/main/examples/pytorch)

I'm running examples as per readme.md, but I get the following error.

What should I do?

`{"detail":"Error processing request: <_InactiveRpcError of RPC that terminated with:\n\tstatus = StatusCode.UNAVAILABLE\n\tdetails = \"Request for unknown model:

[2022-05-17 03:52] takumi5757 commented on #22
Thank you @jkhenning.

Yes, it is the clearml-serving-triton container.
I updated the Nvidia driver from 490 to 515 and fixed it.

 Thank you for your response.

[2022-05-23 05:52] Ofir-Pipl opened #23 "clearml.storage - ERROR - Google cloud driver not found"
Trying to call model endpoint where the model stored on GCP bucket, getting the error:

clearml.storage - ERROR - Google cloud driver not found. Please install driver using: pip install "google-cloud-storage>=1.13.2"

After installing manually it works.

We use the k8s version - installed with helm

[2022-05-23 09:25] valeriano-manassero commented on #23
@Ofir-Pipl will work on this asap, it will require some time I think since I testing will be a bit time consuming.

[2022-05-23 10:47] valeriano-manassero commented on #23
@Ofir-Pipl can you pls check allegroai/clearml-helm-charts#72 if this is what you were looking for?

[2022-05-23 11:09] Ofir-Pipl commented on #23
@[valeriano-manassero](https://github.com/valeriano-manassero) Yes, this is what i was looking for.
Thanks for the quick response.

[2022-05-23 11:11] valeriano-manassero commented on #23
Merged and `clearml-serving` new chart version released, enjoy! 😄

[2022-05-23 11:11] #23 closed

[2022-05-24 18:47] cccs-is commented on #17
@bmartinn Thanks for the new design for ClearML serving.
For some reason I can't locate any configuration for deploying on K8s, although it was mentioned "Deployment support for Kubernetes".
Do you happen to have a yaml/helm available, I don't mind an unofficial one until the proper version is provided in the repo.

[2022-05-25 08:24] jkhenning commented on #17
Hi @cccs-is , see here https://github.com/allegroai/clearml-helm-charts/tree/main/charts/clearml-serving

[2022-05-25 14:10] cccs-is commented on #17
Perfect! Thanks @jkhenning! much appreciated.

[2022-05-25 14:11] stefano-cherchi opened #24 "Inconsistent argument syntax in clearml-serving client"
Just noticed that the output type argument have a different syntax depending on which `clearml-serving model` command is run:

[code]

Returns an error:

[code]

but it works with `--output_type`.

If you run the command `clearml-serving model add`, is the other way around: the argument `--output_type` throws an error, `--output-type` works just fine.

[2022-05-25 16:52] gaspard-met opened #25 "[ Setup/examples ] Initial Installation Issues - docker compose errors"
Hello clearml team,
Congrats on the release of `clearml-serving` V2 🎉

I really wanted to check it out, and I'm having difficulties running the basic setup and `scikit-learn` example commands on my side.
I want to run the [Installation](https://github.com/allegroai/clearml-serving#installation=) and the [Toy model (scikit learn) deployment example](https://github.com/allegroai/clearml-serving#poin

[2022-05-31 07:04] thepycoder commented on #25
Hi @gaspard-met

I'll try to recreate your environment and help out. When you say you have a clearml server running on Kubernetes, how is that running locally? Microk8s?
Also, do you use the experiment manager with that same server too? If so, can you share your ~/.clearml.conf file, because then we can see what URLs the experiment manager uses to connect to the server. I suspect there is a discre

[2022-06-03 10:35] rg314 opened #29 "docker-compose-triton-gpu fails due to "PTX was compiled with an unsupported toolchain""
**Describe the bug**
After following the `docker-compose-triton-gpu.yml` instructions for the pytorch example the server fails to spin up. The service fails due to the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Run the pytorch example in https://github.com/allegroai/clearml-serving/blob/827905cdc0004d0676041bfb410e7b67879b3cbb/examples/pytorch/readme.md?plain=1

[2022-06-03 10:40] rg314 commented on #29
To fix this issue I had to update my Nvidia drivers to 510.

Okay just for clarity...

Originally, my Nvidia drivers were running on an incompatible version for the triton server. To figure this out I just ran the Nvidia Triton image on docker:
[code]
If you get the following error:
[code]
You'll need to update your Nvidia drivers.

To fix this issue I updated the drivers on my base OS i.e.
[code]

[2022-06-07 09:32] bmartinn commented on #29
Thanks @rg314 !
This is exactly the fix.
BTW, notice we just released v1.0.0, there is no need to change the Nvidia drivers (v510+), the Triton version is now 22.04,
but based Nvidia's release notes the next version of Triton (22.05) will need another driver bump

[2022-06-14 16:27] andycancado opened #30 "add aux-config parser error"
Hello,
I'm trying to add a onnx model and specify the platform on clearml-serving model add aux-config but i have a parser error,
<img width="608" alt="Screenshot 2022-06-14 at 17 12 52" src="https://user-images.githubusercontent.com/5150628/173626928-d2236118-f728-405c-8758-86a520a97e1c.png">
on the file triton_helper.py the parser expect an int,

<img width="823" alt="Screenshot 2022-06-14 at 17

[2022-06-22 03:51] Muscle-Oliver commented on #25
Hello @thepycoder
Confronted with the same error with `clearml-serving-inference` here, using `minikube` in kubernetes.

To reproduce:
1. Used `minikube` to create a single-node cluster;
[code]
2. Used `helm` to create both `clearml` and `clearml-serving`;
[code]
3. Seems everything works fine:
[code]
4. Created a cred in `webserver/settings/Workspace` (from a browser). Used `clearml-init` to conf

[2022-06-22 21:48] thepycoder commented on #25
Thanks for the detailed writeup @Muscle-Oliver !

So I've taken a look and it seems like a specific parameter is missing from the helm chart.
The url `http://127.0.0.1:8080/serve` does not look like the correct url to connect to, most of the time in a kubernetes cluster you'd use different IP addresses than localhost.

In order to set this IP address, you'll have to edit the following parameter in

[2022-06-23 03:09] Muscle-Oliver commented on #25
Thanks for the quick reply @thepycoder !

May I ask what problem it suggests by `/auth.login` at the end of the starting log of gunicorn?
As it goes:
`Retrying (Retry(total=237, connect=237, read=240, redirect=240, status=240)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7f9aefc207f0>: Failed to establish a new connection: [Errno -3] Temporary fai

[2022-06-23 05:59] valeriano-manassero commented on #25
Hi, I just issued a PR mentioning this issue, can you pls check it and letting me know if this is what you are expecting?

[2022-06-23 08:47] valeriano-manassero commented on #25
Since that change is not breaking, I just merged PR and released [clearml-serving-0.4.0](https://github.com/allegroai/clearml-helm-charts/releases/tag/clearml-serving-0.4.0) .
pls let me know if this chart is good for you.

[2022-06-27 02:50] Muscle-Oliver commented on #25
Thanks for the update @valeriano-manassero !

So, I also tried `minikube start driver=none` with root. And `helm` installed [clearml-serving-0.4.0](https://github.com/allegroai/clearml-helm-charts/releases/tag/clearml-serving-0.4.0) as suggested. But everything worked out the same.

The log of pod `clearml-serving-inference` still goes:
[code]
which means gunicorn failed to start ? (or it did, but

[2022-06-27 06:00] valeriano-manassero commented on #25
Just a question: I see `clearml.defaultBaseServeUrl` in chart is still the default `defaultBaseServeUrl` . Did you try to change that url to point to the right endpoint?

[2022-07-05 06:17] Muscle-Oliver commented on #25
Thanks for the helm update.
But, I'm confused now :joy:

How can I get this `clearml-serving-inference` to start correctly, anyway?

I can infer from the logs that the startup problem may results from some sort of connection error. But I have no idea where exactly the _gunicorn_ was connecting to.
As @thepycoder have suggested, the `CLEARML_DEFAULT_BASE_SERVE_URL` might not be _localhost_, but som

[2022-07-08 10:53] Bunoviske opened #32 "Endpoint authorization with API key"
Hello,

I have a multi-tenant application and I would like to control who have access to each endpoint with API Keys. That is still a bit unclear for me. How can I authorize users before they consume some endpoint?

Thanks,
Bruno

[2022-07-08 11:17] Bunoviske opened #33 "Serving with custom engine"
Hello,

I checked the pipeline example where you use custom engine, but it is not very complete. What if I want to run normal pytorch inference without any engine?

Is it also possible to implement my own Rest API (e.g. Flask) or at least have more control how I process my inferences? In your README.md, it says: `Customizable RestAPI for serving (i.e. allow per model pre/post-processing for easy i

[2022-07-10 15:26] jkhenning commented on #32
Hi @Bunoviske ,

Common practice is to protect these endpoints using some service that supports basic authentication (or JWT token authentication), placed before the endpoints.
Which multi-tenant application do you have? How do you generate credentials/tokens for this app?

[2022-07-11 06:23] valeriano-manassero commented on #25
I probably found the issue:
there should be some misconfiguration on `apiHost` value in your helm chart installation.
If they are on the same cluster they should be:

[code]

Once you will not get anymore connection errors, you can connect to the inference service simply doing a `port-forward` with `kubectl -n clearml port-forward svc/clearml-serving-inference 8080:8080`.

Let me know if this help

[2022-07-11 08:39] jkhenning commented on #32
Hi @Bunoviske,

If you already have a way to generate tokens (and a secret used to generate them), you would normally set up some layer in front of your endpoints (or the serving endpoints) that can parse any token provided with the call and determine if the call is allowed to reach the endpoint (or redirect to the appropriate endpoint). Common tools used for that are nginx (see [here](https://ngi

[2022-07-11 11:20] Bunoviske commented on #32
Thank you, that is very helpful. Maybe you could also suggest this as a feature for ClearML: [BentoML secure endpoint](https://docs.bentoml.org/en/latest/guides/securing_endpoints.html) or [Integrate BentoML server with WSGI](https://docs.bentoml.org/en/latest/guides/server.html)

For me, it would much easier if I could do `clearml-serving --token "jsnkjsagn"`, something like this. Let me know you

[2022-07-13 18:25] bmartinn commented on #33
Hi @Bunoviske

Yes it is in he to do list to add a specific custom model serving example. I'll update here once it is up

So you can just do "pytorch inference" as a custom engine (basically import pytorch and run the model. That said Triton is so much faster than just using vanilla pytorch for inference, and this is basically out of the box. Any reason for manually running the model inference ?

[2022-07-13 20:46] bmartinn commented on #30
Hi @andycancado
I'm so sorry for the delayed response, this issue somehow slipped through the cracks :(

I think you are correct, seems the issue is [here](https://github.com/allegroai/clearml-serving/blob/826f503cf4a9b069b89eb053696d218d1ce26f47/clearml_serving/__main__.py#L474).
What's the full command you are passing? (so that we are sure the issue is fully fixed)

Thank you so much for say so!

[2022-07-14 07:57] Muscle-Oliver commented on #25
@valeriano-manassero Thanks! That's it!

Thanks to your reminder, I finally noticed that the configs of `clearml-serving` are all incorrect. :rofl:
Previously I installed `clearml-serving` via `helm install [RELEASE] [CHART]` command line. And All the helm charts used the default configs from `values.yaml`, left unchecked.

I `git pull` the `clearml-serving` repo and checked the `values.yaml`, whi

[2022-07-14 16:05] Bunoviske commented on #33
Hello Martin!

No particular reason, I just wanted to understand how flexibel ClearML Serving is. Regarding your second question, I think I already got good outcome from our slack conversation and here: #32

Once you have the new example with custom engine, let me know! Thanks :)

[2022-07-15 19:36] bmartinn commented on #30
@andycancado any chance you can verify the fix works?
Upgrade to the latest version with:
[code]
wdyt?

[2022-07-15 19:37] bmartinn commented on #33
Quick update @Bunoviske
You can now find a custom serving example [here](https://github.com/allegroai/clearml-serving/blob/main/examples/custom/readme.md) 😃

[2022-07-16 17:53] #33 closed

[2022-09-14 06:07] senysenyseny16 opened #34 "Serving autoscaling strategy"
Hello, ClearML team!

I'm trying to understand how serving auto-scaling works.

From readme:

I found that serving has ability to auto-scale, but in helm charts ([triton](https://github.com/allegroai/clearml-helm-charts/blob/main/charts/clearml-serving/templates/clearml-serving-triton-deployment.yaml) for example) I only found `replicas: 1` and didn't find an auto-scale implementation anywhere (li

[2022-09-16 12:59] #30 closed

[2022-09-19 12:57] thepycoder commented on #34
Heya @senysenyseny16 !

Yeah, you are correct. The true master of the helm charts is @valeriano-manassero, so he can chip in if what I say is not correct, but in the case of Triton, you'd have to change the helm chart to enable autoscaling.

For example, to autoscale on GPUs, add a section somewhat like the following (depending on your needs):

[code]

or for GPU scaling:

[code]

To read more abo

[2022-09-23 09:31] Muscle-Oliver opened #35 "Inconsistent inference results from clearml-serving"
Hello,
I deployed a model using `clearml-serving`, but it generate inconsistent results across same HTTP requests.

To recreate:
1. I deployed a self-hosted clearml server in my local kubernetes (from docker image `allegroai/clearml:1.4.0`).
2. Reused the pytorch MNIST example from [https://github.com/allegroai/clearml-serving/tree/main/examples/pytorch](url).
3. Went through the model training pr

[2022-10-04 17:38] Aleksandar1932 opened #36 "Triton server keeps crashing"
When i try to follow `examples/pytorch` the triton server is crashing, i.e. exiting with status code `-6`.

this is the log from the container:
[code]

[2022-10-05 13:44] Aleksandar1932 commented on #36
Hi, thank you for your reply, I am basically using `https://github.com/allegroai/clearml-serving/tree/main/examples/pytorch` and this is the triton env:

<img width="1119" alt="image" src="https://user-images.githubusercontent.com/29300910/194075678-449eab6c-f11b-4353-bef9-0273b7ff1374.png">

[2022-10-10 06:37] senysenyseny16 commented on #34
Hi @thepycoder!

Thanks for your help! We implemented your recipe with HPA and it works.

[2022-10-10 06:37] #34 closed

[2022-10-12 11:54] thepycoder commented on #35
Hi @Muscle-Oliver , sorry for the late reply.

Do you have an update on this, or has it not changed since?
Do you think you could try running the model just in python, not in clearml serving and seeing if the same thing happens there?

ClearML Serving uses Triton on the backend, so it could be that it is an issue with Triton. Can you try the newest version of ClearML Serving (1.2 was just released

[2022-10-12 20:29] Aleksandar1932 commented on #36
I am certain the the problem is with the tracing of the model and not related to triton nor clearml-serving.

[2022-10-12 20:29] #36 closed

[2022-11-08 13:48] qwaxys commented on #2
Closing this issue as inactive, feel free to open a new issue and link to this one (and probably issue #3 )

[2022-11-08 13:48] #2 closed

[2022-11-08 13:58] qwaxys commented on #3
Closing this issue as inactive, feel free to open a new issue and link to this one.

[2022-11-08 13:58] #3 closed

[2022-11-08 14:11] #5 closed

[2022-11-08 14:29] qwaxys commented on #6
Closing this issue as inactive, feel free to open a new issue and link to this one.

[2022-11-08 14:29] #6 closed

[2022-11-08 14:35] qwaxys commented on #7
Closing this issue as inactive, feel free to open a new issue and link to this one.

[2022-11-08 14:50] qwaxys commented on #8
Closing this issue as inactive, feel free to open a new issue and link to this one.

[2022-11-08 14:50] #8 closed

[2022-11-08 15:26] qwaxys commented on #12
Closing this issue as inactive, feel free to open a new issue and link to this one.

[2022-11-08 15:26] #12 closed

[2022-11-08 15:48] qwaxys commented on #13
Closing this issue as inactive, feel free to open a new issue and link to this one.

[2022-11-08 15:48] qwaxys commented on #14
Closing this issue as inactive, feel free to open a new issue and link to this one.

[2022-11-08 15:48] #14 closed

[2022-11-08 15:49] qwaxys commented on #15
Closing this issue as inactive, feel free to open a new issue and link to this one.

[2022-11-08 15:49] #15 closed

[2022-11-23 03:29] okyspace opened #38 "Issue with pytorch preprocess code"
Hi, I have encountered error stating that model was expecting input [1 28 28] but given [1 784] when trying out the pytorch example. I think it is due to the flatten() of the array before return by the preprocess method.

Can I also ask
1. How do we update the preprocess code to the same created endpoint using command line / codes?
2. When we create the endpoint with the preprocess code, the code